@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900'); 

body, html {
    height: 100%;
    font-family: 'Raleway', sans-serif;}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;}

/* HEADER */

.header {
    height: 720px;
    background: url(../images/header.png) no-repeat;
    background-size: cover;
    background-position: right;
    font-family: 'Raleway', sans-serif;}

#topo {    
    width: 100%;
    padding-bottom: 70px;
    border-bottom: 1px solid #D3D6DB;}

.header-top {
    border-bottom: 1px solid #D1D6DA;
    margin-left: 100px;}

.header-logo {
    background: url(../images/logo.png) no-repeat;
    width: 100%;
    height: 55px;
    float: left;
    margin-top: 40px;
    margin-bottom: 25px;}

.header span.compartilhe {
    float: right;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    size: 1.000em;
    color: #656565;
    margin-top: 55px;}

.header aside {
    padding-left: 120px;
    top: 242px;
    display: block;
    position: absolute;
    width: 100%;}

.header aside h1 span {
    color: #019886;
    font-weight: 600;}

.header aside h1 {
    font-family: 'Raleway', sans-serif; 
    font-size: 2.813em;
    color: #0b385e;
    font-weight: 900;
    text-transform: uppercase;}

.header aside button {
    background: none;
    border: 2px solid #2CA8F8;
    font-size: 0.938em;
    padding: 15px 21px;
    text-transform: uppercase;
    font-weight: 600;
    color: #2CA8F8;
    border-radius: 4px;
    margin-top: 30px;}

.header aside button:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0; 
  height: 0; 
  border-top: 5px solid #2CA8F8;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;}


/* BLOCO ASSOCIE-SE AGORA */

.main-associe {background-color: #2FA9F6; padding: 50px 0;}

.main-associe h1 {
    font-family: 'Raleway', sans-serif; 
    text-transform: uppercase;
    padding-left: 0;
    font-size: 1.938em;  
    color: #fff;
    text-align: center;
    position: initial;
    font-weight: 900;
    line-height: 0.500em;}

.main-associe h2 {    
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 1.125em;  
    text-align: center;
    line-height: 1.438em;}

.conteudo-associe {background-color: #2FA9F6; padding-top: 16px;}

.conteudo-associe #antes-compra {
    background: url(../images/associe01.png) no-repeat center;
    width: 100%;
    height: 212px;}

.conteudo-associe #durante-compra {
    background: url(../images/associe02.png) no-repeat center;
    width: 100%;
    height: 212px;}

.conteudo-associe #depois-compra {
    background: url(../images/associe03.png) no-repeat center;
    width: 100%;
    height: 212px;}

.conteudo-associe h3 {
    font-family: 'Raleway', sans-serif;
    color: #fff; 
    text-align: center;
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: 900;
    line-height: 29px;}

.conteudo-associe p {text-align: center;font-family: 'Raleway', sans-serif;font-size: 13px;font-weight: 600;}


/* BLOCO PLANOS - DIGITAL E FULL */

.chamada-planos {background-color: #f1f1f1; text-align: center; padding: 50px 0 4px 0;}

.chamada-planos h3 {
    color: #0f2538;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px; 
    font-family: 'Raleway', sans-serif;}

.box-planos {background-color: #f1f1f1;text-align: center;padding: 50px 0 4px 0; display: flex;}

.box-planos .conteudo-plano-digital, .conteudo-plano-full {background-color: #34ACF2; border-radius: 5px; padding: 30px;display: block;flex: 1;}

.box-planos .conteudo-plano-full {background-color: #fff; margin-left: 15px;}

.box-planos .conteudo-plano-digital h2, .conteudo-plano-full h2 {    
    font-family: 'Raleway', sans-serif; 
    font-size: 2.688em;  
    color: #fff;
    font-weight: 600;
    line-height: 0.938em;}

.conteudo-plano-full h2 {color: #184266;}

.box-planos .conteudo-plano-digital .plano-real, .plano-valor, .plano-centavos, .box-planos .conteudo-plano-full .plano-real, .formulario .plano-real  {font-weight:bold; font-size: 1.063em; font-family: 'Raleway', sans-serif; color:#fff;}

.box-planos .conteudo-plano-full .plano-real {color: #184266;}

.formulario .plano-real, .formulario .plano-valor, .formulario .plano-valor p {color: #34ACF2;}

.box-planos .conteudo-plano-digital .plano-valor, .box-planos .conteudo-plano-full .plano-valor, .formulario .plano-valor {font-size: 2.813em; display: inline; font-weight:900;}

.box-planos .conteudo-plano-full .plano-valor {color: #184266;}

.box-planos .conteudo-plano-digital .plano-valor span, .box-planos .conteudo-plano-full .plano-valor span, .formulario .plano-valor span {vertical-align: super; font-size: 0.750em; display: inline; font-weight:900;}

.box-planos .conteudo-plano-digital p, .box-planos .conteudo-plano-full p {    
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #0f2538;
    font-weight: 600;
    padding: 10px;
    line-height: 17px;}

.box-planos .box-vantagens-digital, .box-planos .box-vantagens-full {background-color: #2576A7; padding: 15px 0 30px 0;}

.box-planos .box-vantagens-full {background-color: #E6E7E9;}

.box-planos .conteudo-plano-digital .box-vantagens-extra {padding-top: 20px;}

.box-planos .box-vantagens-digital ul, ul.conteudo-vantagens-extra, .box-planos .box-vantagens-full ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: 10px;
    text-align: left;}

.box-planos .box-vantagens-digital ul li, ul.conteudo-vantagens-extra li, .box-planos .box-vantagens-full ul li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 14px;
    color: #0f2538;
    font-weight: 600;
    line-height: 30px;
    float: left;}

ul.conteudo-vantagens-extra {padding-top:20px;}

.box-planos .conteudo-plano-full .conteudo-vantagens-extra li.destaque {color: #36ADF3;}

.box-planos .conteudo-plano-digital button, .box-planos .conteudo-plano-full button {
    background-color: #fff;
    border: 0;
    color: #3cadee;
    text-transform: uppercase;
    padding: 15px 55px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 3px;
    margin-top: 20px;}

.box-planos .conteudo-plano-full button {background-color: #009DDE; color: #fff;}

.box-planos .conteudo-plano-digital ul.conteudo-vantagens-extra li, .box-planos .conteudo-plano-full ul.conteudo-vantagens-extra li {font-weight: 400;}

.box-planos .conteudo-plano-digital .conteudo-vantagens-extra span {color: #fff;}

.conteudo-mais-vantagens {background-color: #f1f1f1;text-align: center;padding: 20px 0 50px 0;}

.conteudo-mais-vantagens h3.titulo-principal, .conteudo-mais-vantagens h3.call-to-action { 
    font-family: 'Raleway', sans-serif;
    color: #0f2538;
    font-size: 1.563em;
    font-weight: 700;
    line-height: 27px;}

.conteudo-mais-vantagens h3.call-to-action {font-size: 1.125em;font-weight: 600;padding: 35px 0 80px 0;}

.conteudo-mais-vantagens h3.titulo-principal::after {
    content: "—————";
    height: 0px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
    color: #34ACF2;
    font-size: 15px;
    display: block;
    letter-spacing: -0.5em;}

.conteudo-mais-vantagens ul {
    list-style-type: none;
    color: #1b2c3b;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    text-align: left;}

/* FORMULARIO*/

.formulario {background-color: #fff; padding: 50px 10px; border:0;}
.formulario b {color:#34ACF2; }
.formulario label.form-check-label {font-weight: 600;font-size: 11px;font-family: 'Raleway', sans-serif;color:#063E67;}
.formulario .btn {
    background-color: #00ACF2;
    color: #fff;
    border: 0;
    float: right;
    padding: 10px 100px;
    font-weight: 600;}

/* FOOTER */

.footer {background: #353535; color: #808080;padding: 10px 5px;}
.footer .logo-footer {background: url(../images/logo_footer.png) no-repeat center; height: 23px;}
.footer .privacidade {text-align: center;}


/* RESPONSIVO */

/* Responsivo - Smartphone iPhone em modo retrato */
@media only screen and (max-width: 380px) {    
    .header-top {margin: 0;}
    .header-logo {background: url(../images/logo.png) no-repeat center;}
    .header span.compartilhe {float: right;margin: 0;max-width: 100%;padding: 10px;}
    .header {background:none;}   
    .header aside button {margin:auto;margin-top: 25px;display: block;}    
    .header aside h1 {margin: 10px;}   
    .header aside {padding: 0;} 
    .main-associe {margin-top: 50px;}
    .conteudo-associe #durante-compra, .conteudo-associe #depois-compra {margin-top: 20px;}
    .conteudo-mais-vantagens h3.call-to-action {font-size: 90%;}
    .box-planos {display:block; }
    .box-planos .conteudo-plano-full {margin-left: 0;display: block;}

    /* Responsivo - Smartphone iPhone em modo paisagem */ 
@media only screen and (max-width: 667px) {
    .header-top {margin: 0;}
    .header-logo {background: url(../images/logo.png) no-repeat center;}
    .header span.compartilhe {float: right;margin: 0;max-width: 100%;padding: 10px;}    
    .header aside h1 {padding: 0;margin: 10px}

    /* iPads (retrato e paisagem) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .header-top {margin: 0;}
    .header-logo {background: url(../images/logo.png) no-repeat center;}
    .header span.compartilhe {float: right;margin: 0;max-width: 100%;padding: 10px;}    
    .header aside h1 {padding: 0;margin: 10px;}